build/
release/
*.so
*.swo
*.a
*~
*.dat
*.swo
*.out
*.so.0
*.lib
android_lib/
*.swp
.svn
*.dll
*.dylib
test/unitest
sample/app
src/models/model_init.c
include/models/model_init.h
3rdparty/
tools/caffe/model_init.c
tools/caffe/model_init.h
*.pyc
